<h2>{{location}}</h2>
<div class="content">
  <img src="{{url}}" /><br/><br/>
  <!-- triple mustache for just dumping in raw HTML -->
  {{{html}}}
</div>
{{#if back}}
<a href="/{{back}}" class="back-link" data-next="{{back}}">&lt; -</a>
{{/if}}
{{#if next}}
<a href="/{{next}}" class="next-link" data-next="{{next}}">- &gt;</a>
{{/if}}
